<!--The content below is only a placeholder and can be replaced.-->
<div class="w3-container">
  <h2>Slideshow Of State</h2>
  <p>An example of using buttons to indicate how many slides there are in the slideshow, and which slide the user is currently viewing.</p>
</div>

<div class="w3-content w3-display-container" style="max-width:800px">
  <img class="mySlides" [src]="imagePath" style="width:100%">
 <button (click)="carousel()">for carousal</button>

 <select id="mySelect"  (change)="onSelect($event)" >
  <option >Gujarat</option> 
  <option >Goa</option> 
  <option >Mizoram</option> 

  <option >Rajsthan</option> 
  <option >Kerala</option> 
      
</select>


</div>


<router-outlet></router-outlet>
